.flex {
  display: flex;
}
 
 
.img {
  min-width: 81rem;
  height: auto;
}
.btnText {
  color: #fff;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.btn {
  width: 19.03525rem;
  height: 4.1875rem;
}
.card {
  padding-left: 5rem;
}
.textOdd {
  width: 34rem;
  height: 7rem;
}
 
.mainText {
  display: flex;
  width: 35.6rem;
  flex-direction: column;
  justify-content: center;
  gap: 1.6rem;
}

.buyPets {
  margin: 1.9rem;
}
.petsCard {
  width: 16.875rem;
  height: 17.4375rem;
}
.petsContent {
  font-weight: bold;
  padding-left: 1.97rem;
  padding-top: 1.63rem;
}
.cardImg {
  padding-top: 2.7rem;
  padding-left: 4.75rem;
  padding-right: 3.94rem;
}
