.headerContainer {
  padding-top: 2.31rem;
}
.container {
  padding-left: 8.44rem;
}
.flex {
  display: flex;
}
.mainContent {
  flex-direction: column;
  padding-top: 17.9rem;
}
.paragraph {
  color: #000;
  width: 33.44031rem;
  height: 6.8125rem;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Montserrat;
  font-size: 178%;
  line-height: 165.4%;
  text-align: left;
}
.btnContainer {
  padding-top: 1.6rem;
  width: 19.03525rem;
}

.btn {
  background-color: transparent;
  color: white;
  border: none;
  height: 4.1875rem;
  font-weight: bolder;
}
.textOdd {
  padding-top: 1.69rem;
}
.mainText {
  flex-direction: column;
}

.petCard {
  padding-top: 8.44rem;
}
.cat {
  padding-left: 1.88rem;
}
.svg {
  width: 1.15625rem;
  height: 1rem;
}
.card {
  width: 16.875rem;
  height: 17.4375rem;
}

.petContent {
  color: #000;
  font-family: Montserrat;
  font-size: 1.125rem;
  font-weight: 900;
}
.cardImg {
  padding-top: 4.25rem;
  padding-left: 1.62rem;

  /* width: 13.3125rem;
  height: 11.25rem; */
}

.slideBtns{
  padding-top: 16.06rem;
  
}
.paginationContainer {
  padding-top: 2.25rem;
  justify-content: center;
  
}
 
.pagination {
  padding-right: 1rem;
}
.picture{
  height: 87rem;
  width: 69rem;
}
.img{
  max-width: 100%;
  max-height:100% ;
}
.titleSection{
  padding-left: 8.12rem;
  flex-direction: column;
}
.titleSectionContainer{
  padding-top: 4.31rem;

}
.whyWe{
  width: 29.9375rem;
}
.whyWeContainer{
  width: 22.25rem;
  height: 4.3125rem;
}
.whyWeIcon{
  width: 100%;
  height: 100%;
}
