.App {
  text-align: center;
}

.test{
  background-image: url("./assets/Landing\ background\ \(Yellow\).png         ");
  background-position: center;
  background-size: cover;
}
.test1{
  background-image: url("./assets/Title\ Section\ Background.png");
background-position: center;
background-size: cover;
}

.test2{
  background-image: url("./assets/Landing\ background\ \(Green\).png         ");
  background-position: center;
  background-size: cover;
}